<div class="blog__subscribe__form__wrap">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 blog__subscribe__text">
				<div class="blog__subscribe__text__title">Подпишитесь на наш блог</div>
				<p>Получайте интересные статьи по теме прямо на почту</p>
			</div>
			<div class="col-12 col-lg-6 blog__subscribe__form">
				<form action="">
					<div class="blog__subscribe__form__input__wrap">
						<input type="email" placeholder="Email*">
						<button class="blog__subscribe__form__submit">Отправить</button>
					</div>
				</form>
				<div class="blog__subscribe__form__required">* Данное поле обязательно для заполнения</div>
				<div class="blog__subscribe__form__policy">Нажимая на кнопку «Отправить» вы подтверждаете свое согласие на обработку <a href="#">персональных данных</a></div>
			</div>
		</div>
	</div>
</div>