<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="breadcrumbs">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Делимся опытом /</a>
				<a href="#" class="breadcrumbs__item">Выбираем тротуарную плитку /</a>
				<a href="#" class="breadcrumbs__item">Romano Antico Romano</a>
			</div>
		</div>
	</div>
</div>