<div class="consult__form__request__wrap">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form action="" class="consult__form__request">
					<h2 class="consult__form__request__title">Нужна консультация?</h2>
					<p>Оставьте контактные данные и мы поможем вам определиться</p>
					<div class="consult__form__request__input__wrap">
						<input type="text" placeholder="Ваше имя">
						<input type="tel" placeholder="Телефон*">
						<input type="email" placeholder="Email">
						<button class="consult__form__request__submit">Отправить</button>
						<div class="consult__form__request__required">* Данное поле обязательно для заполнения</div>
					</div>
					<div class="consult__form__request__policy">
						Нажимая на кнопку «Отправить» вы подтверждаете свое согласие на обработку <a href="#">персональных данных</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>