<header>
	<div class="top__section__contacts">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<div class="top__logo">
						<img src="img/logo.png" alt="Логотип">
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="top__adress">
						<p>Калининградская обл. <br> пос. Холмогоровка <br> ул. Лесопарковая, 1в</p>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-2">
					<div class="top__work__days">
						<p>
							ПН-ПТ: с 9 до 18 <br>
							СБ: с 9 до 16 <br>
							ВС - выходной
						</p>
					</div>
				</div>
				<div class="col-12 col-md-4 col-lg-3">
					<div class="top__contacts">
						<div class="top__phones">
							<a class="top__phones__link" href="tel:+74012389610">+7 (4012) 38-96-10</a>
							<a class="top__phones__link" href="tel:+79052468353">+7 (905) 246-83-53</a>
							<button class="top__phones__callback">Заказать звонок</button>
						</div>
						<div class="top__social">
							<a href="#" class="top__social__link fb">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve"><g><g>
									<path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" data-original="#000000" class="active-path" data-old_color="#F5F6F5" fill="#FFFFFF"/>
								</g></g> </svg>
							</a>
							<a href="#" class="top__social__link inst">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve" class=""><g><g>
									<path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z" data-original="#ffffff" class="" fill="#ffffff"/>
									<path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z" data-original="#ffffff" class="" fill="#ffffff"/>
									<path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z" data-original="#ffffff" class="" fill="#ffffff"/>
								</g></g> </svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top__naviation">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<button class="hamburger hamburger--spring" type="button">
					  <span class="hamburger-box">
					    <span class="hamburger-inner"></span>
					  </span>
					</button>
					<ul class="top__menu">
						<li class="top__menu__item">
							<a href="#" class="top__menu__item__link">О студии</a>
						</li>
						<li class="top__menu__item">
							<a href="#" class="top__menu__item__link with__submenu">Услуги</a>
							<ul class="top__submenu">
								<li class="top__submenu__item">
									<a href="#" class="top__submenu__item__link">Дизайн-проект мощения</a>
								</li>
								<li class="top__submenu__item">
									<a href="#" class="top__submenu__item__link">Проект ландшафтного дизайна участка</a>
								</li>
								<li class="top__submenu__item">
									<a href="#" class="top__submenu__item__link">Проект озеленения участка</a>
								</li>
							</ul>
						</li>
						<li class="top__menu__item">
							<a href="#" class="top__menu__item__link with__submenu">Каталог товаров</a>
							<ul class="top__submenu">
								<li class="top__submenu__item">
									<a href="#" class="top__submenu__item__link">Дизайн-проект мощения</a>
								</li>
								<li class="top__submenu__item">
									<a href="#" class="top__submenu__item__link">Проект ландшафтного дизайна участка</a>
								</li>
								<li class="top__submenu__item">
									<a href="#" class="top__submenu__item__link">Проект озеленения участка</a>
								</li>
							</ul>
						</li>
						<li class="top__menu__item">
							<a href="#" class="top__menu__item__link">Наши объекты</a>
						</li>
						<li class="top__menu__item">
							<a href="#" class="top__menu__item__link">Блог</a>
						</li>
						<li class="top__menu__item">
							<a href="#" class="top__menu__item__link">Контакты</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>