<div class="related__products__slider__wrap">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="related__products__slider__title">Сопутствующие товары</h3>
				<div class="related__products__slider">
					<div class="related__products__slider__item__wrap">
						<div class="related__products__slider__item">
							<a href="#" class="related__products__slider__item__image">
								<img src="img/related-item-image1.jpg" alt="">
							</a>
							<a href="#" class="related__products__slider__item__title">Кресло Net</a>
							<div class="related__products__slider__item__manufacturer">Производитель: Nardi (Италия)</div>
							<div class="related__products__slider__item__price">6 600 руб.</div>
						</div>
					</div>
					<div class="related__products__slider__item__wrap">
						<div class="related__products__slider__item">
							<a href="#" class="related__products__slider__item__image">
								<img src="img/related-item-image-default.jpg" alt="">
							</a>
							<a href="#" class="related__products__slider__item__title">Кресло Net</a>
							<div class="related__products__slider__item__manufacturer">Производитель: Nardi (Италия)</div>
							<div class="related__products__slider__item__price">6 600 руб.</div>
						</div>
					</div>
					<div class="related__products__slider__item__wrap">
						<div class="related__products__slider__item">
							<a href="#" class="related__products__slider__item__image">
								<img src="img/related-item-image1.jpg" alt="">
							</a>
							<a href="#" class="related__products__slider__item__title">Кресло Net</a>
							<div class="related__products__slider__item__manufacturer">Производитель: Nardi (Италия)</div>
							<div class="related__products__slider__item__price">6 600 руб.</div>
						</div>
					</div>
					<div class="related__products__slider__item__wrap">
						<div class="related__products__slider__item">
							<a href="#" class="related__products__slider__item__image">
								<img src="img/related-item-image1.jpg" alt="">
							</a>
							<a href="#" class="related__products__slider__item__title">Кресло Net</a>
							<div class="related__products__slider__item__manufacturer">Производитель: Nardi (Италия)</div>
							<div class="related__products__slider__item__price">6 600 руб.</div>
						</div>
					</div>
					<div class="related__products__slider__item__wrap">
						<div class="related__products__slider__item">
							<a href="#" class="related__products__slider__item__image">
								<img src="img/related-item-image1.jpg" alt="">
							</a>
							<a href="#" class="related__products__slider__item__title">Кресло Net</a>
							<div class="related__products__slider__item__manufacturer">Производитель: Nardi (Италия)</div>
							<div class="related__products__slider__item__price">6 600 руб.</div>
						</div>
					</div>
					<div class="related__products__slider__item__wrap">
						<div class="related__products__slider__item">
							<a href="#" class="related__products__slider__item__image">
								<img src="img/related-item-image1.jpg" alt="">
							</a>
							<a href="#" class="related__products__slider__item__title">Кресло Net</a>
							<div class="related__products__slider__item__manufacturer">Производитель: Nardi (Италия)</div>
							<div class="related__products__slider__item__price">6 600 руб.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>