.article__block__wrap {
	width: 100%;
	background-color: #fff;
	padding: 15px;
	border: 1px solid #e0e0e0;
	margin-bottom: 45px;
}
.article__block {
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	&__title {
		margin-top: 0;
		margin-bottom: 25px;
	}
	&__date {
		width: 100%;
		position: relative;
		padding-left: 40px;
		font-size: 12px;
		line-height: 21px;
		color: #333;
		margin-bottom: 25px;
		&::before {
			content: '';
			position: absolute;
			width: 23px;
			height: 24px;
			background-image: url(../img/article-block-date-icon.png);
			background-position: center;
			background-size: 23px;
			background-repeat: no-repeat;
			top: -3px;
			left: 0;
		}
	}
	p {
		font-size: 16px;
		line-height: 24px;
		color: #333;
		margin-top: 0;
		margin-bottom: 25px;
	}
	a {
		color: #ed7a1c;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	h2 {
		font-size: 22px;
		margin-top: 0;
		margin-bottom: 30px;
	}
	h3 {
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 25px;
	}
	blockquote {
		display: block;
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
		position: relative;
		background-color: #f0f0f0;
		border-bottom: 8px solid #86bb44;
		padding-left: 20px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 20px;
		@media screen and (min-width: $landscape-sm) {
			padding-left: 85px;
			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 21px;
				background-image: url(../img/article-block-quotes.png);
				background-position: center;
				background-size: 30px;
				top: 25px;
	    	left: 30px;
			}
		}
		p {
			font-family: "Georgia", sans-serif;
			margin: 0;
			font-style: italic;
		}
	}
	&__image__box {
		width: 100%;
		margin-bottom: 20px;
		img {
			width: 100%;
			margin-bottom: 10px;
		}
		p {
			font-family: "Georgia", sans-serif;
			text-align: center;
			font-size: 16px;
			line-height: 20px;
			color: #999;
			text-align: center;
			font-style: italic;
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		li {
			position: relative;
			font-size: 16px;
			line-height: 24px;
			color: #333;
			margin-bottom: 15px;
			padding-left: 40px;
			&::before {
				content: '';
				position: absolute;
				width: 35px;
				height: 19px;
				background-image: url(../img/article-block-list-icon.png);
				background-position: center;
				background-size: cover;
				top: 3px;
    		left: -5px;
			}
			@media screen and (min-width: $landscape-sm) {
				padding-left: 85px;
				&::before {
					left: 20px;
				}
			}
		}
	}
}
.share__block {
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&.--bottom {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	> span {
		font-size: 12px;
		line-height: 18px;
		color: #313139;
		margin-right: 15px;
	}
}
.back__to__blog {
	display: block;
	margin-bottom: 30px;
	padding-left: 20px;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #ed7a1c;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
	&::before {
		content: '';
		position: absolute;
		width: 6px;
		height: 6px;
		border-left: 1px solid #ed7a1c;
		border-bottom: 1px solid #ed7a1c;
		transform: rotate(45deg);
		top: 10px;
    left: 8px;
	}
}

.similar__articles__slider__wrap {
	width: 100%;
	margin-bottom: 40px;
}
.similar__articles__slider {
	width: 100%;
	&__title {
		font-size: 30px;
		line-height: 30px;
		color: #333;
		margin-bottom: 35px;
	}
	&__item {
		width: 100%;
		max-width: 230px;
		margin: 0 auto;
		&__image {
			width: 100%;
			margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
		&__date {
			font-size: 10px;
			line-height: 20px;
			color: #333;
			margin-bottom: 15px;
		}
		&__title {
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 21px;
			color: #333;
			font-weight: bold;
			text-decoration: underline;
			margin-bottom: 15px;
			&:hover {
				color: #ed7a1c;
				text-decoration: none;
			}
		}
		&__descr {
			font-size: 13px;
			line-height: 18px;
			color: #333;
			margin-top: 0;
			margin-bottom: 15px;
		}
		&__link {
			display: block;
			width: 100%;
			font-size: 13px;
			line-height: 18px;
			color: #333;
			text-decoration: underline;
			&:hover {
				color: #ed7a1c;
				text-decoration: none;
			}
		}
	}
}
.similar__articles__slider {
	.slick-next {
		right: -10px;
	}
	.slick-prev {
		left: -10px;
	}
}
.what__about__block {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	&__title {
		font-size: 20px;
		line-height: 24px;
		color: #333;
		margin-bottom: 20px;
	}
	&__item {
		width: 100%;
		margin-bottom: 20px;
		&__img {
			width: 100%;
			margin-bottom: 10px;
		}
		&__title {
			display: block;
			width: 100%;
			margin-bottom: 5px;
			font-size: 14px;
			line-height: 21px;
			font-weight: bold;
			color: #333;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&__price {
			font-size: 25px;
			line-height: 25px;
			color: #ed7a1c;
			font-weight: bold;
		}
	}
}