.blog__article__list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 15px;
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
	&__item {
		width: 100%;
		max-width: 270px;
		margin-bottom: 25px;
		border: 1px solid #e0e0e0;
		background-color: #fff;
		padding: 20px;
		transition: box-shadow 0.35s linear;
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 35px;
		}
		&:hover {
			box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.2);
		}
		&__image {
			width: 100%;
			margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
		&__date {
			font-size: 10px;
			line-height: 20px;
			color: #333;
			margin-bottom: 15px;
		}
		&__title {
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 21px;
			color: #333;
			font-weight: bold;
			text-decoration: underline;
			margin-bottom: 15px;
			&:hover {
				color: #ed7a1c;
				text-decoration: none;
			}
		}
		&__description {
			font-size: 13px;
			line-height: 18px;
			color: #333;
			margin-top: 0;
			margin-bottom: 15px;
		}
		&__link {
			display: block;
			width: 100%;
			font-size: 13px;
			line-height: 18px;
			color: #333;
			text-decoration: underline;
			&:hover {
				color: #ed7a1c;
				text-decoration: none;
			}
		}
	}
}

.categories__block {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	margin-bottom: 30px;
	&__title {
		text-align: center;
		font-weight: 300;
		font-size: 20px;
		line-height: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	&__item {
		display: block;
		width: 100%;
		max-width: 230px;
		margin: 0 auto;
		margin-bottom: 10px;
		border-radius: 30px;
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		&:nth-of-type(even) {
			background-color: #ed7a1c;
			&:hover {
				background-color: #86bb44;
			}
		}
		&:nth-of-type(odd) {
			background-color: #86bb44;
			&:hover {
				background-color: #ed7a1c;
			}
		}
	}
}
.widjet__block {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	margin-bottom: 30px;
}