.blog__subscribe__form__wrap {
	width: 100%;
	background-color: #e4f3da;
	padding: 30px 0;
}
.blog__subscribe__text,
.blog__subscribe__form {
	width: 100%;
	@media screen and (min-width: $landscape-lg) {
		max-width: 50%;
	}
}
.blog__subscribe__text {
	&__title {
		font-size: 25px;
		line-height: 1.2em;
		color: #333;
		margin-top: 0;
		margin-bottom: 10px;
		@media screen and (min-width: $landscape-lg) {
			font-size: 35px;
		}
	}
	p {
		font-size: 18px;
		color: #333;
		line-height: 20px;
		margin-top: 0;
		margin-bottom: 20px;
	}
}
.blog__subscribe__form {
	input {
		display: block;
		width: 100%;
		max-width: 270px;
		margin-bottom: 15px;
		border: 1px solid #c9c9c9;
		border-radius: 3px;
		outline: none;
		transition: all 0.3s linear;
		font-size: 14px;
		line-height: 20px;
		color: #70706e;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 20px;
		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
		}
		&:focus {
			border-color: #ed7a1c;
		}
		&.error {
			border-color: #ff0000;
			box-shadow: 0px 0px 5px 0px rgba(255,0,0,1);
		}
	}
	&__submit {
		display: block;
		width: 100%;
		max-width: 270px;
		border: 1px solid #ed7a1c;
		outline: none;
		background-color: #ed7a1c;
		cursor: pointer;
		border-radius: 30px;
		font-size: 18px;
		color: #fff;
		line-height: 20px;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
		transition: all 0.3s linear;
		&:hover {
			background-color: #fff;
			color: #ed7a1c;
		}
	}
	&__required {
		display: block;
		width: 100%;
		margin-top: 10px;
		font-size: 11px;
		line-height: 13px;
		color: #ed7a1c;
	}
	&__policy {
		font-size: 11px;
		line-height: 13px;
		color: #333333;
		a {
			color: #333;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.blog__subscribe__form__input__wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}	
}