.breadcrumbs {
	width: 100%;
	position: relative;
	padding: 10px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) {
		justify-content: flex-start;
	}
	&__item {
		display: block;
		position: relative;
		width: auto;
		font-size: 12px;
		line-height: 12px;
		color: #70706e;
		@media screen and (min-width: $mobile-sm) {
			margin: 5px 0;
			margin-right: 6px;
		}
		@media screen and (min-width: $landscape-sm) {
			margin: 0;
			margin-right: 6px;
		}
		&:first-of-type {
			font-size: 0;
			width: 56px;
			height: 26px;
			background-image: url(../img/breadcrumb-bg.png);
			background-size: 13px;
			background-position: 15px 6px;
			background-repeat: no-repeat;
			&::before {
				content: '';
				position: absolute;
				width: 56px;
				height: 26px;
				background-image: url(../img/breadcrumb-stroke.svg);
				background-size: contain;
				background-repeat: no-repeat;
				top: 0;
				left: 0;
			}
		}
		&:last-of-type {
			color: #ccc;
			pointer-events: none;
		}
	}
}