.card__wrap {
	width: 100%;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	margin-bottom: 30px;
	@media all and (min-width: $mobile-sm) {
		padding: 15px 25px;
	}
	@media all and (min-width: $landscape-sm) {
		padding: 25px 45px;
	}
	@media all and (min-width: $desktop) {
		padding: 35px 50px;
	}
	@media all and (min-width: $desktop-hd) {
		padding: 35px 100px;
	}
}

/*Card Slick sliders*/
.card__slider__horizontal {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	&__item {
		display: block;
		width: 100%;
		position: relative;
		img {
			width: 100%;
		}
	}
}
.card__slider__horizontal__nav {
	width: 100%;
	position: relative;
	overflow: hidden;
	@media all and (min-width: $mobile-sm) {
		margin-bottom: 25px;
	}
	@media all and (min-width: $mobile-sm) {
		margin-bottom: 25px;
	}
	&__item__wrap {
		outline: none;
		margin-right: 25px;
	}
	&__item {
		display: block;
		width: 100%;
		position: relative;
		height: 75px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover {
			&::before {
				opacity: 1;
			}
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			background-image: url(../img/zoom-slider-icon.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 17px;
			opacity: 0;
			top: 0;
			left: 0;
			transition: all 0.3s linear;
		}
	}
}

/*Styling slick arrows*/
.card__slider__wrap {
	.slick-next, .slick-prev {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 5;
		&::before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			font-size: 0;
			background-color: transparent;
			top: 15px;
		}
	}
	.slick-next {
		right: -20px;
		&::before {
			border-left: 2px solid #3f3e48;
			border-bottom: 2px solid #3f3e48;
			transform: rotate(-135deg);
			left: 7px;
		}
	}
	.slick-prev {
		left: -20px;
		&::before {
			border-right: 2px solid #3f3e48;
			border-bottom: 2px solid #3f3e48;
			transform: rotate(135deg);
			left: 22px;
		}
	}
}
.card__slider__horizontal__nav {
	.slick-list {
		margin-right: -25px;
	}
}
/*Styling slick arrows END*/
.vertical__card__slider__wrap {
	margin-bottom: 15px;
	@media all and (min-width: $landscape-lg) {
		margin-bottom: 0;
	}
	.slick-next, .slick-prev {
		width: 15px;
		height: 15px;
		transition: all 0.3s linear;
		&::before {
			display: none;
		}
		&:hover {
			border-color: #86bb44;
		}
	}
	.slick-next {
		right: -20px;
		border-right: 4px solid #ccc;
		border-bottom: 4px solid #ccc;
		transform: rotate(-45deg) translateY(-50%);
		@media all and (min-width: $landscape-lg) {
			top: auto;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
		}
	}
	.slick-prev {
		left: -20px;
		border-left: 4px solid #ccc;
		border-bottom: 4px solid #ccc;
		transform: rotate(45deg) translateY(-50%);
		@media all and (min-width: $landscape-lg) {
			top: 0;
			bottom: auto;
			left: 50%;
			transform: translateX(-50%) rotate(-225deg);
		}
	}
}
.vertical__card__slider__title {
	width: 100%;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	margin-bottom: 20px;
}
.vertical__card__slider {
	width: 100%;
	@media all and (min-width: $landscape-lg) {
		max-width: 100px;
		padding: 25px 0;
	}
	&__item {
		width: 82px;
		height: 82px;
		margin: 0 auto;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		@media all and (min-width: $landscape-lg) {
			margin-bottom: 5px;
		}
	}
}
/*Card Slick sliders END*/

/*Card description*/
.card__description {
	width: 100%;
	&__title {
		font-size: 35px;
		line-height: 35px;
		font-weight: normal;
		color: #333;
		margin: 0;
		margin-bottom: 20px;
	}
}
.card__description__price__block {
	width: 100%;
	background-color: #f0f0f0;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
.card__description__price {
	width: 100%;
	margin-bottom: 15px;
	font: 13px;
	line-height: 16px;
	color: #333;
	&:last-of-type{
		margin-bottom: 0;
	}
	.--actual-price {
		font-weight: bold;
		font-size: 35px;
		line-height: 35px;
		color: #ed7a1c;
		margin-right: 10px;
	}
	.--old-price {
		text-decoration: line-through;
	}
}
.submit__order__button {
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 40px;
	border: 1px solid #ed7a1c;
	background-color: #ed7a1c;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	transition: all 0.3s linear;
	&:hover,
	&:focus {
		background-color: #fff;
		color: #ed7a1c;
	}
}
.card__description__payment {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 25px;
	@media all and (min-width: $landscape-sm) {
		justify-content: space-between;
	}
	@media all and (min-width: $landscape-lg) {
		margin-bottom: 0;
	}
	&__title {
		width: 100%;
		text-align: center;
		font-size: 13px;
		line-height: 18px;
		color: #333;
		font-weight: bold;
		margin-bottom: 15px;
	}
	&__item {
		width: 100%;
		margin-bottom: 10px;
		@media all and (min-width: $landscape-sm) {
			max-width: 33%;
			margin-bottom: 0;
		}
		&__icon {
			width: 62px;
			height: 62px;
			border-radius: 50%;
			background-color: #cac9c9;
			margin: 0 auto;
			margin-bottom: 10px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			&.--cash {
				background-image: url(../img/card-cash-icon.png);
				background-size: 32px;
			}
			&.--cashless {
				background-image: url(../img/card-cashless-icon.png);
				background-size: 50px;
			}
			&.--cards {
				background-image: url(../img/card-bankcard--icon.png);
				background-size: 37px;
			}
		}
		&__text {
			font-size: 13px;
			line-height: 18px;
			color: #333;
			text-align: center;
		}
	}
}
/*Card description END*/

/*Card tabs*/
.card__tabs {
	width: 100%;
	position: relative;
	padding-top: 25px;
}
.card__tabs__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		justify-content: space-between;
	}
	&__item {
		width: 100%;
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		padding: 10px;
		background-color: #f0f0f0;
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover {
			background-color: #cac9c9;
		}
		&.active {
			background-color: #cac9c9;
		}
		@media screen and (min-width: $landscape-sm) {
			max-width: 33.23%;
		}
	}
}
.card__tabs__content__description {
	width: 100%;
	p {
		font-size: 16px;
		line-height: 28px;
		color: #333;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
.card__tabs__link__pdf {
	display: block;
	position: relative;
	width: 100%;
	max-width: 270px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px solid #ed7a1c;
	background-color: #ed7a1c;
	border-radius: 30px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 20px;
	@media all and (min-width: 768px) {
		margin: 0;
		margin-bottom: 20px;
	}
	&:hover,
	&:focus {
		background-color: #fff;
		color: #ed7a1c;
	}
	&::before {
		content: '';
		position: absolute;
		width: 22px;
		height: 25px;
		background-image: url(../img/card-tab-pdf-icon.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 5px;
    left: 2px;
    @media all and (min-width: 768px) {
			left: 20px;
		}
	}
}

.card__tabs__specifications {
	width: 100%;
	position: relative;
	@media all and (min-width: 767px) {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}
.card__tabs__specifications__item {
	width: 100%;
	max-width: 193px;
	margin: 0 auto;
	border: 1px solid #c9c9c9;
	@media all and (min-width: 320px) {
		margin-bottom: 20px;
	}
	@media all and (min-width: 767px) {
		margin: 0;
		margin-right: 9px;
		margin-bottom: 20px;
		&:nth-of-type(3) {
			margin-right: 0;
		}
	}
	@media all and (min-width: $desktop) {
		margin: 0;
		max-width: 20%;
		&:not(:last-of-type) {
			border-right: none;
		}
	}
	&__title {
		width: 100%;
		display: flex;
		align-items: center;
		min-height: 55px;
		justify-content: center;
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		border-bottom: 1px solid #c9c9c9;
		padding: 0px 20px;
	}
	&__cell {
		width: 100%;
		font-size: 14px;
		text-align: center;
		line-height: 20px;
		color: #333;
		padding-top: 15px;
		padding-bottom: 15px;
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}
}
.card__tabs__sizes {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	@media all and (min-width: $landscape-sm) {
		justify-content: space-between;
	}
	&__image {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media all and (min-width: $landscape-sm) {
			max-width: 250px;
			margin: 0;
			margin-bottom: 25px;
			justify-content: space-between;
		}
		@media all and (min-width: $desktop-hd) {
			max-width: 230px;
		}
		img {
			width: 100%;
			max-width: 250px;
			@media all and (min-width: $landscape-lg) {
				max-width: 165px;
			}
		}
		&__title {
			width: 100%;
			font-size: 14px;
			line-height: 20px;
			color: #333;
			text-align: center;
			margin-bottom: 10px;
			@media all and (min-width: $landscape-lg) {
				max-width: 60px;
			}
		}
	}
}
.card__tabs__sizes__table {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media all and (min-width: $landscape-sm) {
		max-width: 340px;
		justify-content: space-between;
	}
	@media all and (min-width: $landscape-lg) {
		max-width: 550px;
	}
	@media all and (min-width: $desktop) {
		max-width: 750px;
	}
	@media all and (min-width: $desktop-hd) {
		max-width: 680px;
	}
	&__item {
		width: 100%;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;
		@media all and (min-width: $mobile-sm) {
			max-width: 25px;
		}
		@media all and (min-width: $mobile) {
			max-width: 40px;
		}
		@media all and (min-width: $landscape-sm) {
			max-width: 60px;
		}
		@media all and (min-width: $landscape-lg) {
			max-width: 110px;
		}
		@media all and (min-width: $desktop) {
			max-width: 160px;
		}
		@media all and (min-width: $desktop-hd) {
			max-width: 140px;
		}
	}
}

.card__tabs__sizes__table__sizes__list {
	width: 80px;
	&__item {
		width: 100%;
		padding: 5px;
		margin-bottom: 5px;
		background-color: #c9c9c9;
		font-size: 12px;
		line-height: 14px;
		color: #666;
		&:first-of-type {
			background-color: transparent;
			font-size: 12px;
			line-height: 14px;
			color: #666;
			min-height: 24px;
		}
	}
}

.card__tabs__sizes__table__sizes__chart {
	width: 110px;
	@media all and (min-width: $landscape-lg) {
		width: 100%;
	}
	&__title {
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		font-weight: bold;
		color: #fff;
		padding: 5px;
		background-color: #4d4d4f;
		margin-bottom: 5px;
	}
	&__item {
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		color: #666;
		padding: 5px;
		background-color: #c9c9c9;
		margin-bottom: 5px;
	}
}
/*Card tabs END*/