@font-face {
    font-family:'Open Sans';
    src: url('../fonts/OpenSans/Open Sans Italic.woff2') format('woff2'),
		url('../fonts/OpenSans/Open Sans Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family:'Open Sans';
    src: url('../fonts/OpenSans/Open Sans Regular.woff2') format('woff2'),
		url('../fonts/OpenSans/Open Sans Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family:'Open Sans';
    src: url('../fonts/OpenSans/Open Sans Bold.woff2') format('woff2'),
		url('../fonts/OpenSans/Open Sans Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family:'Open Sans';
    src: url('../fonts/OpenSans/Open Sans Bold Italic.woff2') format('woff2'),
		url('../fonts/OpenSans/Open Sans Bold Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}
@font-face {
    font-family:'Open Sans Light';
    src: url('../fonts/OpenSans/Open Sans Light.woff2') format('woff2'),
        url('../fonts/OpenSans/Open Sans Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family:'Open Sans Light';
    src: url('../fonts/OpenSans/Open Sans Light Italic.woff2') format('woff2'),
        url('../fonts/OpenSans/Open Sans Light Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}