.footer__main__block {
	width: 100%;
	background-color: #4c4d4f;
	border-top: 5px solid #ed7a1c;
}
.footer__main__block__row {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
	@media all and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	@media all and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
}
.footer__main__block__logo {
	width: 100%;
	max-width: 200px;
	@media all and (min-width: $mobile-sm) {
		margin-bottom: 25px;
	}
	@media all and (min-width: $landscape-sm) and (max-width: $landscape-lg) {
		max-width: 100%;
		text-align: center;
		img {
			max-width: 200px;
		}
	}
	@media all and (min-width: $desktop) {
		margin-bottom: 0;
	}
	img {
		width: 100%;
	}
}
.footer__main__block__links {
	width: 100%;
	max-width: 190px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	@media all and (min-width: $mobile-sm) {
		margin-bottom: 25px;
	}
	@media all and (min-width: $landscape-sm) and (max-width: $landscape-lg) {
		max-width: 170px;
	}
	@media all and (min-width: $landscape-lg) {
		margin-bottom: 0;
	}
	&__title {
		font-size: 18px;
		line-height: 20px;
		color: #fefefe;
		font-weight: bold;
		margin-bottom: 20px;
	}
	&__item {
		width: 100%;
		a {
			display: block;
			width: 100%;
			font-size: 15px;
			line-height: 15px;
			color: #fefefe;
			margin-bottom: 10px;
			&:hover {
				color: #86bb44;
				text-decoration: underline;
			}
		}
	}
}
.footer__contacts__block {
	width: 100%;
	max-width: 170px;
	@media all and (min-width: $mobile-sm) {
		margin-bottom: 25px;
	}
	@media all and (min-width: $landscape-lg) {
		margin-bottom: 0;
	}
}
.footer__contacts__adress {
	width: 100%;
	position: relative;
	padding-left: 25px;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	margin-bottom: 10px;
	a {
		color: #86bb44;
		text-decoration: underline;
	}
	&::before {
		content: '';
		position: absolute;
		width: 13px;
		height: 19px;
		background-image: url(../img/footer-adress-mark.png);
		background-position: center;
		background-size: cover;
		top: -5px;
		left: 0;
	}
}
.footer__contacts__phone,
.footer__contacts__email,
.footer__contacts__skype {
	display: block;
	position: relative;
	width: 100%;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	margin-bottom: 5px;
	padding-left: 25px;
	text-decoration: none;
	&::before {
		content: '';
		position: absolute;
		width: 14px;
		height: 14px;
		background-image: url(../img/footer-phone-icon.png);
		background-position: center;
		background-size: cover;
		top: -2px;
		left: 0;
	}
}
.footer__contacts__email {
	&::before {
		content: '';
		position: absolute;
		width: 14px;
		height: 10px;
		background-image: url(../img/footer-mail-icon.png);
		background-position: center;
		background-size: cover;
		top: 2px;
		left: 0;
	}
}
.footer__contacts__skype {
	&::before {
		content: '';
		position: absolute;
		width: 14px;
		height: 14px;
		background-image: url(../img/footer-skype-icon.png);
		background-position: center;
		background-size: cover;
		top: -2px;
		left: 0;
	}
}
.footer__contacts__social {
	width: 100%;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	a {
		display: inline-block;
		vertical-align: top;
		margin-left: 5px;
		margin-right: 5px;
		font-size: 0;
		width: 23px;
		height: 23px;
		border-radius: 3px;
		&.fb {
			background-color: #4a64b3;
			background-image: url(../img/facebook-logo.svg);
			background-size: 15px;
			background-position: center;
			background-repeat: no-repeat;
		}
		&.inst {
			background-color: #c837ac;
			background-image: url(../img/instagram-logo.svg);
			background-size: 15px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
.footer__copyright__block {
	width: 100%;
	background-color: #37383a;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer__copyright {
	font-size: 11px;
	line-height: 13px;
	color: #6f7073;
	@media all and (min-width: $mobile-sm) {
		margin-bottom: 15px;
	}
	@media all and (min-width: $landscape-sm) {
		margin-bottom: 0;
	}
	a {
		color: #6f7073;
		text-decoration: underline;
	}
}
.footer__politic {
	@media all and (min-width: $mobile-sm) {
		margin-bottom: 15px;
		text-align: left;
	}
	@media all and (min-width: $landscape-sm) {
		margin-bottom: 0;
		text-align: right;
	}
	a {
		font-size: 11px;
		line-height: 13px;
		color: #6f7073;
		text-decoration: underline;
	}
}
.to__top {
	display: block;
	position: fixed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #86bb44;
	background-color: #86bb44;
	cursor: pointer;
	outline: none;
	z-index: 15;
	transition: background-color 0.3s linear, border-color 0.3s linear;
	&:hover {
		background-color: #fff;
		&::before {
			border-color: #86bb44;
		}
	}
	&.slide-in-blurred-bottom {
		animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	}
	&.slide-out-blurred-bottom {
		animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	}
	@media all and (min-width: $mobile-sm) {
		bottom: 150px;
		right: 10px;
	}
	@media all and (min-width: $landscape-sm) {
		bottom: 150px;
		right: 10px;
	}
	@media all and (min-width: $landscape-lg) {
		bottom: 270px;
		right: 10px;
	}
	@media all and (min-width: $desktop-hd) {
		bottom: 400px;
		right: 150px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-135deg);
	}
}
.request__call__btn {
	display: block;
	position: fixed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #ed7a1c;
	background-color: #ed7a1c;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 rgba(237,122,28, 0.7);
	transition: background-color 0.3s linear;
	z-index: 15;
	svg {
		display: block;
		width: 23px;
		height: 23px;
		margin: 0 auto;
	}
	&.slide-in-blurred-bottom {
		animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both, pulse 2s infinite;
	}
	&.slide-out-blurred-bottom {
		animation: slide-out-blurred-bottom 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	}
	@media all and (min-width: $mobile-sm) {
		bottom: 50px;
		right: 10px;
	}
	@media all and (min-width: $landscape-sm) {
		bottom: 60px;
		right: 10px;
	}
	@media all and (min-width: $landscape-lg) {
		bottom: 180px;
		right: 10px;
	}
	@media all and (min-width: $desktop-hd) {
		bottom: 320px;
		right: 150px;
	}
}
@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slide-out-blurred-bottom {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(237,122,28, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(237,122,28, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(237,122,28, 0);
  }
}

/*Styles for popup*/
.pop__up {
	display: none;
	position: fixed;
	width: 100%;
	max-width: 315px;
	background-color: #fff;
	border-radius: 13px;
	padding: 20px 25px;
	z-index: 110;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__close {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 10px;
		right: 10px;
		cursor: pointer;
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 3px;
			height: 15px;
			background-color: #000;
			top: 0;
			left: 0;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
	&__title {
		font-size: 18px;
		line-height: 21px;
		color: #333;
		font-weight: bold;
		margin-bottom: 17px;
	}
	&__form {
		width: 100%;
		position: relative;
		input {
			display: block;
			width: 100%;
			border: 1px solid #c4c4c4;
			font-size: 12px;
			line-height: 18px;
			color: #4F4949;
			padding: 6px;
			padding-left: 15px;
			margin-bottom: 15px;
			outline: none;
			transition: border-color 0.3s linear;
			&.input-error {
				border-color: #F68220;
			}
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #C4C4C4;
			font-size: 12px;
			line-height: 18px;
			color: #4F4949;
			padding: 6px;
			padding-left: 15px;
			margin-bottom: 5px;
			resize: none;
		}
		.required__warn {
			font-size: 9px;
			line-height: 10px;
			color: #85C440;
			margin-bottom: 10px;
		}
	}
}
.pop__up__politic {
	font-size: 9px;
	line-height: 10px;
	color: #333;
	margin-bottom: 20px;
	a {
		color: #333;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.pop__up__submit__btn {
	display: block;
	width: 100%;
	border: 1px solid #85C440;
	outline: none;
	border-radius: 50px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	padding: 8px 10px;
	margin-bottom: 10px;
	background-color: #85C440;
	cursor: pointer;
	transition: all 0.3s linear;
	&:hover {
		background-color: #fff;
		color: #85C440;
	}
}
/*Styles for popup END*/

/*Overlay*/
.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.75);
	top: 0;
	left: 0;
	z-index: 100;
	cursor: pointer;
}