.top__section__contacts {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.top__logo {
	width: 100%;
	max-width: 305px;
	img {
		width: 100%;
	}
}
.top__adress,
.top__work__days {
	width: 100%;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 175px;
		height: 1px;
		background-color: #fda433;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
		@media screen and (min-width: $landscape-sm) {
			width: 1px;
			height: 61px;
			bottom: auto;
			left: auto;
			right: 20px;
			top: 50%;
			transform: translateX(0) translateY(-50%);
		}
	}
	p {
		font-size: 14px;
		line-height: 22px;
		color: #505050;
		text-align: center;
		@media screen and (min-width: $landscape-sm) {
			text-align: left;
		}
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
		}
	}
}
.top__adress {
	@media screen and (min-width: $landscape-lg) {
		&::before {
			right: -10px;
		}
	}
}
.top__contacts {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) {
		margin-top: 15px;
		margin-bottom: 15px;
		justify-content: space-around;
	}
	@media screen and (min-width: $landscape-sm) {
		margin-top: 14px;
		justify-content: space-between;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-top: 0px;
	}
}
.top__phones {
	width: 100%;
	max-width: 190px;
	display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  @media screen and (min-width: $landscape-sm) {
  	max-width: 150px;
  }
  @media screen and (min-width: 1340px) {
  	max-width: 190px;
  }
	&__link {
		display: block;
		position: relative;
		width: 100%;
		text-align: right;
		font-size: 14px;
		height: 16px;
		color: #4c4d4f;
		&:first-of-type {
			&::before {
				right: 125px;
			}
		}
		&:last-of-type {
			&::before {
				right: 125px;
			}
		}
		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			background-image: url(../img/phone-icon.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			top: 0;
			right: 0;
		}
	}
	&__callback {
		display: block;
		width: 100%;
		max-width: 155px;
		outline: none;
		border-radius: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		border: 1px solid #ee7f01;
		background-color: #ee7f01;
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		margin-top: 5px;
		margin-right: -10px;
		transition: all 0.3s linear;
		&:hover,
		&:focus {
			background-color: #fff;
			color: #ee7f01;
		}
	}
}
.top__social {
	width: 25px;
	&__link {
		display: block;
		width: 24px;
		height: 24px;
		border: 1px solid #85c440;
		border-radius: 3px;
		background-color: #85c440;
		text-align: center;
		&.fb {
			margin-bottom: 12px;
		}
		svg {
			width: 14px;
			height: 22px;
		}
		&:hover {
			background-color: #fff;
			svg {
				path {
					fill: #85c440;
				}
			}
		}
	}
}

/*Top menu*/
.top__naviation {
	width: 100%;
	background-color: #4f4f4f;
	border-bottom: 3px solid #ed7a1c;
}
.top__menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	@media all and (min-width: $mobile-sm) and (max-width: 767px) {
		&__item {
			width: 100%;
			position: relative;
			border-bottom: 1px solid #fefefe;
			cursor: pointer;
			transition: all 0.3s linear;
			&:last-of-type {
				border-bottom: none;
			}
			&:hover {
					background-color: #ED7A1C;
			}
			&__link {
				display: inline-block;
				position: relative;
				width: auto;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				padding: 10px;
				&.with__submenu {
					&::before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 4px 0 4px;
						border-color: #ffffff transparent transparent transparent;
						top: 19px;
    				right: -10px;
					}
				}
			}
		}
	}
	@media all and (min-width: $landscape-sm) {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		border-left: 1px solid #fefefe;
		border-right: 1px solid #fefefe;
		@media all and (min-width: $landscape-lg) {
			border: none;
		}
			&__item {
			width: 100%;
			position: relative;
			max-width: 33.33%;
			text-align: center;
			cursor: pointer;
			padding: 10px 0;
			transition: all 0.3s linear;
			&::after {
					content: '';
					position: absolute;
					width: 1px;
					height: 20px;
					background-color: #fefefe;
					transform: translateY(-50%);
					top: 50%;
					right: 0;
			}
			&:nth-of-type(3),
			&:last-of-type {
				&::after {
					display: none;
				}
			}
			&:hover {
					background-color: #ED7A1C;
			}
			&:nth-of-type(-n+3) {
				border-bottom: 1px solid #fefefe;
			}
			@media all and (min-width: $landscape-lg) {
				max-width: 16.66%;
				border-bottom: none;
				&:nth-of-type(-n+3) {
					border-bottom: none;
				}
				&:nth-of-type(3) {
					&::after {
						display: block;
					}
				}
				&:last-of-type {
					&::after {
						display: none;
					}
				}
			}
			&__link {
				display: inline-block;
				position: relative;
				width: auto;
				text-align: center;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				padding: 0 10px;
				&.with__submenu {
					&::before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 4px 0 4px;
						border-color: #ffffff transparent transparent transparent;
						top: 9px;
    				right: -10px;
					}
				}
			}
		}
	}
}
/*Top menu END*/

/*Top submenu*/
.top__submenu {
	display: none;
	@media all and (min-width: $mobile-sm) and (max-width: $landscape-sm) {
		margin: 0;
		padding: 0;
		list-style-type: none;
		&__item {
			width: 100%;
			&__link {
				display: block;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				padding: 10px 20px;
				&:hover {
					background-color: #C4C7C7;
				}
			}
		}
	}
	@media all and (min-width: $landscape-sm) {
		display: block;
		position: absolute;
		width: 100%;
		min-width: 260px;
		max-width: 320px;
		top: 40px;
    left: -1px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		border: 3px solid #ED7A1C;
		transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
		visibility: hidden;
		transition: all linear 0.3s;
		z-index: 5;
		@media all and (min-width: $landscape-lg) {
			min-width: 320px;
		}
		&__item {
			width: 100%;
			text-align: left;
			&__link {
				display: block;
				background-color: #fff;
				font-size: 14px;
				line-height: 20px;
				color: #333;
				padding: 10px 20px;
				&:hover {
					background-color: #C4C7C7;
				}
			}
		}
	}
}
/*Top submenu show on hover*/
.top__menu__item {
	@media all and (min-width: $landscape-sm) {
		&:hover {
			.top__submenu {
				transform: rotateX(0deg);
		    transform-origin: top;
		    opacity: 1;
				visibility: visible;
			}
		}
	}
}
/*Top submenu show on hover*/
/*Top submenu END*/

/*Mobile menu button*/
.hamburger {
  padding: 5px 0px;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #4f4f4f;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
  // &:focus {
  // 	outline: 1px solid #ed7a1c;
  // }
  @media all and (min-width: $landscape-sm) {
  	display: none;
  }
}
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #ed7a1c;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}
.hamburger-inner::before {
  top: -10px; 
}
.hamburger-inner::after {
  bottom: -10px; 
}
.hamburger--spring .hamburger-inner {
  top: 5px;
  transition: background-color 0s 0.13s linear; 
}
  .hamburger--spring .hamburger-inner::before {
  top: 8px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spring .hamburger-inner::after {
  top: 16px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
	transition-delay: 0.22s;
	background-color: transparent; 
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); 
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
/*Mobile menu button END*/