/*Блок с описанием студии*/
.main__top__section {
	width: 100%;
	position: relative;
	padding: 20px 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		padding-top: 60px;
		padding-bottom: 100px;
	}
}
.main__top__section__photo {
	width: 100%;
	max-width: 190px;
	padding: 5px;
	background-color: #fff;
	margin-bottom: 25px;
	img {
		width: 100%;
	}
	@media screen and (min-width: $landscape-sm) {
		margin-bottom: 0;
	}
	@media screen and (min-width: $desktop) {
		margin-left: 60px;
	}
}
.main__top__section__text {
	width: 100%;
	@media screen and (min-width: $landscape-sm) {
		max-width: 65%;
	}
}
.main__top__section__title {
	width: 100%;
	font-size: 24px;
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 30px;
	color: #333;
	@media screen and (min-width: $landscape-sm) {
		font-size: 35px;
	}
}
.main__top__section__about {
	font-size: 18px;
	line-height: 26px;
	color: #333;
	margin-top: 0;
	margin-bottom: 15px;
}
.main__top__features {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		position: absolute;
		bottom: -100px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
	}
	&__item {
		width: 100%;
		max-width: 385px;
		margin-bottom: 15px;
		background-color: #fff;
		padding: 40px 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		box-shadow: 0px 12px 18px 0px rgba(133, 145, 149, 0.25);
		@media screen and (min-width: $landscape-sm) {
			justify-content: space-between;
		}
		&__icon {
			width: 73px;
			height: 73px;
			margin-bottom: 15px;
			border-radius: 50%;
			background-color: #e5e5e5;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			@media screen and (min-width: $landscape-sm) {
				margin-bottom: 0;
			}
			&.--start {
				background-size: 44px;
				background-image: url(../img/main-features-start-icon.png);
			}
			&.--dizayn {
				background-size: 56px;
				background-image: url(../img/main-features-dizayn-icon.png);
			}
			&.--exp {
				background-size: 48px;
				background-image: url(../img/main-features-exp-icon.png);
			}
		}
		&__description {
			width: 100%;
			max-width: 215px;
			font-size: 16px;
			line-height: 26px;
			color: #333;
			text-align: center;
			@media screen and (min-width: $landscape-sm) {
				text-align: left;
			}
		}
	}
}

/*Блок с описанием услуг*/
.main__service__section {
	width: 100%;
	padding: 20px 0;
	@media screen and (min-width: $desktop) {
		padding-top: 150px;
	}
	&__title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 40px;
	}
	&__description {
		font-size: 18px;
		line-height: 26px;
		color: #333;
		text-align: center;
		padding: 0px 20px;
		margin-top: 0;
		margin-bottom: 40px;
	}
}
/*Слайдер блока описания услуг*/
.main__service__section__slider {
	width: 100%;
	position: relative;
	margin-bottom: 40px;
	&__item {
		width: 100%;
		position: relative;
		max-width: 350px;
		height: 300px;
		margin: 0 auto;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		cursor: pointer;
		@media screen and (min-width: $desktop) {
			max-width: 370px;
		}
	}
}
.main__service__section__slider__item__text {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	&:hover {
		.slider__service__name {
			transform: translateY(-300px);
			opacity: 0;
		}
		.slider__service__description {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}
.slider__service__name {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0, 0.55);
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s linear, opacity 0.35s linear;
}
.slider__service__description {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0, 0.55);
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: 0;
	margin: 0;
	transform: translateY(300px);
	transition: transform 0.45s linear, opacity 0.3s linear;
}

/*Styling slider arrows on main page*/
.main__page__sliders {
	.slick-next, .slick-prev {
		width: 20px;
    height: 20px;
    transition: all .3s linear;
    &::before {
    	display: none;
    }
    &:hover {
    	border-color: #86bb44;
    }
	}
	.slick-next {
		right: -20px;
    border-right: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    transform: rotate(-45deg) translateY(-50%);
    @media screen and (min-width: $desktop) {
    	right: -40px;
    }
	}
	.slick-prev {
		left: -20px;
    border-left: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    transform: rotate(45deg) translateY(-50%);
    @media screen and (min-width: $desktop) {
    	left: -40px;
    }
	}
	.slick-disabled {
		opacity: .2;
    pointer-events: none;
	}
}
/*Styling slider arrows on main page END*/

/*Блок с товарами на главной*/
.main__catalog__section {
	width: 100%;
	position: relative;
	@media screen and (min-width: $desktop) {
		padding-bottom: 60px;
	}
	&__title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 40px;
	}
	&__items {
		width: 100%;
		position: relative;
		display: flex;
		align-items: stretch;
		justify-content: space-around;
		flex-wrap: wrap;
		z-index: 10;
		@media screen and (min-width: $landscape-lg) {
			justify-content: space-between;
		}
	}
	&__item {
		width: 100%;
		max-width: 270px;
		margin-bottom: 20px;
		background-color: #f2f2f2;
		transition: all 0.3s linear;
		overflow: hidden;
		cursor: pointer;
		&:hover {
			background-color: #fff;
			box-shadow: 0px 12px 18px 0px rgba(133, 145, 149, 0.25);
		}
		&__image {
			width: 100%;
			height: 225px;
			margin-bottom: 10px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				width: 364px;
				height: 364px;
				border-radius: 50%;
				background-color: #86bb44;
				top: -145px;
    		left: 30px;
			}
		}
		&__title {
			width: 100%;
			max-width: 170px;
			min-height: 50px;
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 20px;
			font-weight: bold;
			color: #333;
			text-transform: uppercase;
			padding: 5px;
			margin-left: 25px;
		}
		&__link {
			display: block;
			position: relative;
			width: 100%;
			max-width: 180px;
			margin-bottom: 25px;
			border-radius: 30px;
			margin-left: 25px;
			padding: 10px 20px;
			background-color: #86bb44;
			font-size: 18px;
			line-height: 25px;
			color: #fff;
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border-right: 3px solid #fff;
				border-bottom: 3px solid #fff;
				transform: rotate(-45deg);
				top: 17px;
    		right: 20px;
			}
			&::before {
				right: 30px;
			}
		}
	}
}
/*Изображения в блоке товаров на главной*/
.main__catalog__section__item__img {
	position: absolute;
	width: 420px;
	height: 420px;
	border-radius: 50%;
	background-color: #f3f3f3;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: -180px;
  left: 60px;
}
.main__catalog__section__item {
	&:nth-of-type(1) {
		.main__catalog__section__item__img {
			background-position: -160px 160px;
		}
	}
	&:nth-of-type(2) {
		.main__catalog__section__item__img {
			background-position: -140px 100px;
		}
	}
	&:nth-of-type(3) {
		.main__catalog__section__item__img {
			background-size: 90%;
			background-position: -90px 180px;
		}
	}
	&:nth-of-type(4) {
		.main__catalog__section__item__img {
			background-position: -100px 20px;
		}
	}
}
/*Слайдер популярных товаров на главной*/
.popular__items__slider__wrap {
	width: 100%;
	position: relative;
	padding: 60px 0;
	@media screen and (min-width: $desktop-hd) {
		&::before {
			content: '';
			position: absolute;
			width: 364px;
			height: 375px;
			background-image: url(../img/main-popular-items-strange-item1.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			top: -155px;
    	left: -250px;
			z-index: 1;
		}
		&::after {
			content: '';
			position: absolute;
			width: 386px;
			height: 364px;
			background-image: url(../img/main-popular-items-strange-item2.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			bottom: -160px;
    	right: -330px;
			z-index: 1;
		}
	}
}
.popular__items__slider {
	width: 100%;
	position: relative;
	z-index: 10;
	margin-bottom: 30px;
	@media screen and (min-width: $desktop) {
		max-width: 1169px;
		margin: 0 auto;
		margin-bottom: 30px;
		border: 1px solid #e0e0e0;
	}
	&__title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 50px;
	}
	&__item__wrap {
		@media screen and (min-width: $desktop) {
			border-right: 1px solid #e0e0e0;
		}
	}
	&__item {
		max-width: 270px;
		margin: 0 auto;
		padding: 20px;
		background-color: #fff;
		border: 1px solid #e0e0e0;
		@media screen and (min-width: $desktop) {
			max-width: 100%;
			border: none;
		}
		&__image {
			width: 100%;
			margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
		&__link {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 21px;
			color: #333;
			font-weight: bold;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&__price {
			font-size: 25px;
			line-height: 1em;
			color: #ed7a1c;
			font-weight: bold;
		}
	}
	&__link {
		display: block;
		position: relative;
		width: 100%;
		max-width: 335px;
		margin: 0 auto;
		border-radius: 30px;
		border: 1px solid #ed7a1c;
		background-color: #ed7a1c;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 20px;
		&:hover {
			background-color: #fff;
			color: #ed7a1c;
			&::after {
				color: #ed7a1c;
			}
		}
		@media screen and (min-width: $mobile) {
			&::after {
				content: '\00BB';
				position: absolute;
				top: 16px;
    		right: 30px;
				width: 20px;
				height: 20px;
				font-size: 40px;
				line-height: 20px;
				color: #fff;
				transition: color 0.3s linear;
			}
		}
		@media screen and (min-width: $desktop-hd) {
			position: absolute;
			bottom: -100px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}
}

/*Блок с проектами на главной*/
.main__completed__projects__section {
	width: 100%;
	position: relative;
	padding: 30px 0;
	@media screen and (min-width: $desktop-hd) {
		padding-top: 130px;
	}
	&__title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 40px;
	}
	&__descr {
		width: 100%;
		max-width: 1025px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		color: #333;
		margin-top: 0;
		margin-bottom: 40px;
	}
}
/*Слайдер готовых проектов на главной*/
.main__completed__projects__slider {
	width: 100%;
	position: relative;
	margin-bottom: 50px;
	&__item {
		position: relative;
		max-width: 370px;
		height: 300px;
		margin: 0 auto;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		&__text {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.55);
			top: 0;
			left: 0;
			cursor: pointer;
			transform: translateY(210px);
			transition: transform 0.3s linear;
			&:hover {
				transform: translateY(0px);
			}
			&__name {
				font-size: 18px;
				line-height: 26px;
				color: #fff;
				text-align: center;
				font-weight: bold;
				margin-top: 20px;
				margin-bottom: 30px;
			}
			&__link {
				display: block;
				width: 100%;
				max-width: 200px;
				margin: 0 auto;
				border: 3px solid #fff;
				border-radius: 30px;
				font-size: 14px;
				line-height: 16px;
				color: #fff;
				text-align: center;
				padding-top: 9px;
				padding-bottom: 9px;
				&:hover {
					background-color: #fff;
					color: #333;
				}
			}
		}
	}
}
.main__completed__projects__link {
	display: block;
	position: relative;
	width: 100%;
	max-width: 335px;
	margin: 0 auto;
	border-radius: 30px;
	border: 1px solid #ed7a1c;
	background-color: #ed7a1c;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 20px;
	&:hover {
		background-color: #fff;
		color: #ed7a1c;
		&::after {
			color: #ed7a1c;
		}
	}
	@media screen and (min-width: $mobile) {
		&::after {
			content: '\00BB';
			position: absolute;
			top: 16px;
  		right: 30px;
			width: 20px;
			height: 20px;
			font-size: 40px;
			line-height: 20px;
			color: #fff;
			transition: color 0.3s linear;
		}
	}
}
/*Блок с шагами реализации проекта*/
.main__projects__realization__steps {
	width: 100%;
	position: relative;
	background-color: #e4f3da;
	padding: 20px 0;
	@media screen and (min-width: $desktop) {
		padding: 0;
		background-color: #fff;
		min-height: 737px;
		background-image: url(../img/main-steps-section-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__title {
		width: 100%;
		max-width: 1000px;
		text-align: center;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 50px;
		@media screen and (min-width: $desktop) {
			margin-bottom: 72px;
		}
	}
	&__section {
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $desktop) {
			align-items: flex-start;
			justify-content: space-between;
			min-height: 737px;
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
	&__item {
		width: 100%;
		max-width: 360px;
		height: 160px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: #fff;
		padding: 20px;
		margin-bottom: 15px;
		box-shadow: 0px 12px 18px 0px rgba(133, 145, 149, 0.25);
		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
			&:nth-of-type(2) {
				margin-top: -60px;
			}
			&:nth-of-type(n+4) {
				margin-top: auto;
				margin-bottom: 0;
			}
			&:nth-of-type(4),
			&:nth-of-type(6) {
				margin-bottom: 75px;
			}
		} 
		&:nth-of-type(1) {
			.main__projects__realization__steps__item__icon {
				background-size: 52px;
			}
		}
		&:nth-of-type(2) {
			.main__projects__realization__steps__item__icon {
				background-size: 79px;
			}
		}
		&:nth-of-type(3) {
			.main__projects__realization__steps__item__icon {
				background-size: 44px;
			}
		}
		&:nth-of-type(4) {
			.main__projects__realization__steps__item__icon {
				background-size: 53px;
			}
		}
		&:nth-of-type(5) {
			.main__projects__realization__steps__item__icon {
				background-size: 36px;
			}
		}
		&:nth-of-type(6) {
			.main__projects__realization__steps__item__icon {
				background-size: 58px;
			}
		}
		&__icon {
			width: 72px;
			height: 72px;
			border-radius: 50%;
			background-color: #e5e5e5;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&__descr {
			width: 100%;
			max-width: 170px;
			margin: 0;
			font-size: 16px;
			line-height: 24px;
			color: #333;
		}
	}
}
/*Блок со списком статей на главной*/
.main__article__list__section {
	width: 100%;
	position: relative;
	padding: 40px 0;
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 20%, rgba(229,229,229,1) 48%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 100%);
	&__title {
		text-align: center;
		margin-top: 0;
    margin-bottom: 50px;
	}
}
.main__article__list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 40px;
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
	&__item {
		width: 100%;
		max-width: 270px;
		margin-bottom: 25px;
		border: 1px solid #e0e0e0;
		background-color: #fff;
		padding: 20px;
		transition: box-shadow 0.35s linear;
		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
		}
		&:hover {
			box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.2);
		}
		&__image {
			width: 100%;
			margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
		&__date {
			font-size: 10px;
			line-height: 20px;
			color: #333;
			margin-bottom: 15px;
		}
		&__title {
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 21px;
			color: #333;
			font-weight: bold;
			text-decoration: underline;
			margin-bottom: 15px;
			&:hover {
				color: #ed7a1c;
				text-decoration: none;
			}
		}
		&__descr {
			font-size: 13px;
			line-height: 18px;
			color: #333;
			margin-top: 0;
			margin-bottom: 15px;
		}
		&__link {
			display: block;
			width: 100%;
			font-size: 13px;
			line-height: 18px;
			color: #333;
			text-decoration: underline;
			&:hover {
				color: #ed7a1c;
				text-decoration: none;
			}
		}
	}
}
.main__article__link {
	display: block;
	position: relative;
	width: 100%;
	max-width: 335px;
	margin: 0 auto;
	border-radius: 30px;
	border: 1px solid #ed7a1c;
	background-color: #ed7a1c;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 40px;
	&:hover {
		background-color: #fff;
		color: #ed7a1c;
		&::after {
			color: #ed7a1c;
		}
	}
	@media screen and (min-width: $mobile) {
		&::after {
			content: '\00BB';
			position: absolute;
			top: 16px;
  		right: 30px;
			width: 20px;
			height: 20px;
			font-size: 40px;
			line-height: 20px;
			color: #fff;
			transition: color 0.3s linear;
		}
	}
}