.pagination {
	width: 100%;
	max-width: 590px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	&__item {
		display: block;
		width: auto;
		font-size: 18px;
		line-height: 20px;
		color: #4c4d4f;
		&:hover,
		&.active {
			color: #86bb44;
		}
		&.prev,
		&.next {
			position: relative;
			border-radius: 30px;
			background-color: #4c4d4f;
			color: #fff;
			line-height: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			@media screen and (min-width: $mobile-sm) {
				width: 40px;
				font-size: 0;
			}
			@media screen and (min-width: $landscape-sm) {
				width: 150px;
				font-size: 18px;
			}
			&:hover {
				background-color: #86bb44;
			}
		}
		&.prev {
			@media screen and (min-width: $mobile-sm) {
				padding-left: 0;
			}
			@media screen and (min-width: $landscape-sm) {
				padding-left: 60px;
			}
			&::before {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				transform: rotate(45deg);
    		@media screen and (min-width: $mobile-sm) {
					top: 15px;
    			left: 16px;
				}
				@media screen and (min-width: $landscape-sm) {
					top: 15px;
    			left: 20px;
				}
			}
		}
		&.next {
			padding-left: 20px;
			&::after {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				border-right: 2px solid #fff;
				border-bottom: 2px solid #fff;
				transform: rotate(-45deg);
    		@media screen and (min-width: $mobile-sm) {
					top: 15px;
    			right: 16px;
				}
				@media screen and (min-width: $landscape-sm) {
					top: 15px;
    			right: 20px;
				}
			}
		}
	}
}