.related__products__slider {
	width: 100%;
	max-width: 1075px;
	margin: 0 auto;
	margin-bottom: 40px;
	border: 1px solid #e0e0e0;
	&__title {
		font-size: 30px;
		line-height: 30px;
		color: #333;
		margin-top: 0;
		margin-bottom: 25px;
		font-weight: normal;
	}
	&__item__wrap {
		@media all and (min-width: $landscape-sm) {
			border-right: 1px solid #e0e0e0;
			background-color: #fff;
		}
	}
	&__item {
		width: 100%;
		max-width: 270px;
		margin: 0 auto;
		background-color: #fff;
		padding: 20px;
		&__image {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			img {
				width: 100%;
			}
		}
		&__title {
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 21px;
			color: #333;
			font-weight: bold;
			margin-bottom: 10px;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&__manufacturer {
			font-size: 12px;
			line-height: 21px;
			color: #333;
			margin-bottom: 15px;
		}
		&__price {
			font-size: 25px;
			line-height: 18px;
			color: #ed7a1c;
			font-weight: bold;
			text-align: right;
		}
	}
}

/*Related slider arrows styling*/
.related__products__slider {
	.slick-next, .slick-prev {
		width: 20px;
		height: 20px;
		transition: all 0.3s linear;
		&::before {
			display: none;
		}
		&:hover {
			border-color: #86bb44;
		}
	}
	.slick-next {
		right: -40px;
		border-right: 5px solid #ccc;
		border-bottom: 5px solid #ccc;
		transform: rotate(-45deg) translateY(-50%);
		@media all and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
			right: -30px;
		}
	}
	.slick-prev {
		left: -40px;
		border-left: 5px solid #ccc;
		border-bottom: 5px solid #ccc;
		transform: rotate(45deg) translateY(-50%);
		@media all and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
			left: -30px;
		}
	}
	.slick-disabled {
		opacity: 0.2;
		pointer-events: none;
	}
}
/*Related slider arrows styling END*/