$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;

$main-font: 'Open Sans', sans-serif;

@import 'fonts';
@import 'header';
@import 'breadcrumbs';
@import 'index';
@import 'card';
@import 'related__products__slider';
@import 'consult__form';
@import 'blog';
@import 'pagination';
@import 'blog__subscribe__form';
@import 'blog-article';
@import 'footer';


body {
	font-family: $main-font;
	a {
		text-decoration: none;
		transition: all 0.3s linear;
	}
	h1 {
		font-size: 23px;
		line-height: 1.2em;
		color: #333;
		@media screen and (min-width: $landscape-sm) {
			font-size: 25px;
		}
		@media screen and (min-width: $desktop) {
			font-size: 33px;
		}
	}
	h2 {
		font-size: 25px;
		line-height: 1.2em;
		color: #333;
		@media screen and (min-width: $landscape-sm) {
			font-size: 27px;
		}
		@media screen and (min-width: $desktop) {
			font-size: 35px;
		}
	}
}
.page__container {
	width: 100%;
	position: relative;
	&.bg__gray {
		background-color: #f0f0f0;
	}
	&.white__bg {
		background-color: #fefefe;
	}
	&.gradient__bg {
		background: linear-gradient(to bottom, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 20%, rgba(229,229,229,1) 48%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
	}
}
.page__header {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 30px;
	font-weight: 300;
}
